@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply bg-paper text-ink-900;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white;
  }
}
